/Code/BBS/nbproject/private/
/Code/BBS/build/
/OOSE/Code/AAS/nbproject/private/

*.class
/OOSE/Code/NetBeansProjects/SchoolManagementSystem/nbproject/private/
/OOSE/Code/NetBeansProjects/SchoolManagementSystem/build/
/OOSE/Code/UIControls/nbproject/private/
/OOSE/Code/UIControls/build/
/OOSE/Project/Code/AutoAttendance/nbproject/private/
/OOSE/Project/Code/AutoAttendance/build/
/ASP.NET/SignalR/SignalRChat/SignalRChat/obj/Release/net6.0
/ASP.NET/SignalR/SignalRChat/.vs/SignalRChat/FileContentIndex
/ASP.NET/SignalR/SignalRChat/.vs/SignalRChat/v17
/ASP.NET/SignalR/SignalRChat/.vs/ProjectEvaluation
/ASP.NET/SignalR/SignalRChat/.vs/SignalRChat
/ASP.NET/SignalR/SignalRChat/SignalRChat/bin
/ASP.NET/SignalR/SignalRChat/SignalRChat/obj
